@{
    ViewBag.Title = "C#, ASP.NET, MVC, SQL, HTML, CSS, JS";
}

<div class="row welcome">
    <div class="twelve columns">
        <h1>I'm Adam K Dean</h1>
        <h2>I make things for the internet and I have a blast doing it.</h2>
    </div>
</div>

<div class="row infoboxes">
    <div class="infoleft four columns">
        <h3>Dev Blog</h3>
        <p>I write about my creative endeavours as a web developer. Whethers it's snippets of code, meandering thoughts or tutorials.</p>        
        <p>@Html.ActionLink("Read More", MVC.Blog.Index(), new { @class = "button" })</p>
    </div>
    <div class="infocentre four columns">
        <h3>Code</h3>
        <p>I write code every day. When I'm not writing it, I'm thinking about it, or dreaming about it. For an overview view my coding profile.</p>
        <p><a href="https://coderbits.com/Imdsm" class="button">Coderbits Profile</a></p>
    </div>
    <div class="inforight four columns">
        <h3>Projects</h3>
        <p>Almost every project I do, I put onto GitHub. Feel free to view my projects, fork them, star them or even share them.</p>
        <p><a href="https://github.com/Imdsm" class="button">GitHub Overview</a></p>
    </div>
</div>

<!--<div class="choices">
    <div class="row">
        <div class="four columns">
            <h5>Language of Choice</h5>
            <h1>C#</h1>
        </div>
        <div class="four columns">
            <h5>Framework of Choice</h5>
            <h1>ASP.NET</h1>
        </div>
        <div class="four columns">
            <h5>Drink of Choice</h5>
            <h1>Tea</h1>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <h5>Quotation of Choice</h5>
            <blockquote>
                "You can do so much in 10 minutes' time. Ten minutes, once gone, are gone for good. 
                Divide your life into 10-minute units and sacrifice as few of them as possible in meaningless activity."<br>
                <em>Ingvar Kamprad, Founder of IKEA</em>
            </blockquote>
        </div>
        <div class="six columns">
            <h5>Word of Choice</h5>
            <h1>autodidact</h1>
            <blockquote>            
                <em>noun (Social Science / Education)</em><br />
                a person who is self-taught
            </blockquote>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h6 class="text-center">
            Now we've got those out of the way, why not 
            Html.ActionLink("visit my blog", MVC.Blog.Index()) or 
            Html.ActionLink("sample my profile", MVC.Profile.Index())?
        </h6>
    </div>
</div>
-->