@{
    ViewBag.Title = "C#, ASP.NET, MVC, SQL, HTML, CSS, JS";
}

<div class="row">
    <div class="twelve columns box-padding">
        <div class="box">
            <h1>Welcome to my website</h1>
            <h1 class="small">It may not be very pretty yet.</h1>
            <p>You are here: Home/Index</p>

        </div>
    </div>
</div>

<div class="row equalheight">
    <div class="three columns box-padding">
        <div class="box">a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br></div>
    </div>
    <div class="three columns box-padding">
        <div class="box">b</div>
    </div>
    <div class="three columns box-padding">
        <div class="box">c</div>
    </div>
    <div class="three columns box-padding">
        <div class="box">d</div>
    </div>
</div>