@{
    ViewBag.Title = "C#, ASP.NET, MVC, SQL, HTML, CSS, JS";
}

<div class="row">
    <div class="nine columns">
        @Html.Action("RecentPostsFull")
    </div>
    <div class="three columns">
        @Html.Action("RecentPostsList")        
    </div>
</div>