@{
    ViewBag.Title = "C#, ASP.NET, MVC, SQL, HTML, CSS, JS";
}

<div class="row welcome">
    <div class="twelve columns">
        <h1>Web Developer</h1>
        <h2>I make things for the internet.</h2>
    </div>
</div>

<div class="choices">
    <div class="row">
        <div class="four columns">
            <h5>Language of Choice</h5>
            <h1>C#</h1>
        </div>
        <div class="four columns">
            <h5>Framework of Choice</h5>
            <h1>ASP.NET</h1>
        </div>
        <div class="four columns">
            <h5>Drink of Choice</h5>
            <h1>Tea</h1>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <h5>Quotation of Choice</h5>
            <blockquote>
                "You can do so much in 10 minutes' time. Ten minutes, once gone, are gone for good. 
                Divide your life into 10-minute units and sacrifice as few of them as possible in meaningless activity."<br>
                <em>Ingvar Kamprad, Founder of IKEA</em>
            </blockquote>
        </div>
        <div class="six columns">
            <h5>Word of Choice</h5>
            <h1>autodidact</h1>
            <blockquote>            
                <em>noun (Social Science / Education)</em><br />
                a person who is self-taught
            </blockquote>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <h6 class="text-center">
            Now we've got those out of the way, why not 
            @Html.ActionLink("visit my blog", MVC.Blog.Index()) or 
            @Html.ActionLink("sample my profile", MVC.Profile.Index())?
        </h6>
    </div>
</div>
