@{
    ViewBag.Title = "C#, ASP.NET, MVC, SQL, HTML, CSS, JS";
}

<div class="row">
    <div class="nine columns">
        @Html.Action("RecentBlogPostsFull")
    </div>
    <div class="three columns">

        @Html.Action("RecentBlogPostsList")

        @Html.Action("TagCloud")

    </div>
</div>