@{
    ViewBag.Title = "C#, ASP.NET, MVC, SQL, HTML, CSS, JS";
}

<div class="row welcome">
    <div class="twelve columns">
        <h1>I'm Adam K Dean</h1>
        <h2>I make things for the internet and I have a blast doing it.</h2>
    </div>
</div>

<div class="row infoboxes">
    <div class="infoleft four columns">
        <h3>Dev Blog</h3>
        <p>I write about my creative endeavours as a web developer. Whethers it's snippets of code, meandering thoughts or tutorials.</p>        
        <p>@Html.ActionLink("Read More", MVC.Blog.Index(), new { @class = "button" })</p>
    </div>
    <div class="infocentre four columns">
        <h3>Code</h3>
        <p>I write code every day. When I'm not writing it, I'm thinking about it, or dreaming about it. For an overview view my coding profile.</p>
        <p><a href="https://coderbits.com/Imdsm" class="button">Coderbits Profile</a></p>
    </div>
    <div class="inforight four columns">
        <h3>Projects</h3>
        <p>Almost every project I do, I put onto GitHub. Feel free to view my projects, fork them, star them or even share them.</p>
        <p><a href="https://github.com/Imdsm" class="button">GitHub Overview</a></p>
    </div>
</div>