@model PersonalWebsite.Models.Home.RecentPostsListViewModel

<div class="bloglist">
    <h5>Recent Blog Posts</h5>
    <ul>
        @if(Model.BlogPosts.Count == 0)
        {
            <p>No blog posts.</p>
        }
        else            
        {
            foreach(var post in Model.BlogPosts)
            {
                <li>
                    <p class="post-link">@Html.ActionLink(post.BlogTitle, "Read", "Blog", new { id = post.BlogPostId }, null)</p>
                    <p class="post-date">Posted <em>@PersonalWebsite.Helpers.DateHelper.GetReadableTimeSince(post.DatePosted)</em>.</p>                    
                </li>
            }
        }
    </ul>
</div>