@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="eight columns">
        <div class="row">
            <div class="twelve columns">
                <h4>Direct Email</h4>
                <p>If you need to email me directly, please feel free to contact me at:</p>
                <img src="/Content/images/email.png">
                <hr>
            </div>
        </div>        
        
        @Html.Action("ContactForm")                       
    </div>
    <div class="four columns">
        <!-- Html.Action("TwitterFeed") -->
    </div>
</div>