@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="seven columns">
        @Html.Action("ContactForm")                       
    </div>
    <div class="one columns">

    </div>
    <div class="four columns">
        
        <h4>Twitter</h4>
        <p>Yes, I'm a twit. I tweet things from time to time. It's not overly exciting things but I'd recommend me.</p>
        <p><a href="http://twitter.com/imdsm">@@Imdsm</a></p>
        <hr />

        <h4>LinkedIn</h4>
        <p>For a more professional summary of my experience, skills &amp; expertise, take a look at my LinkedIn profile.</p>
        <p><a href="http://uk.linkedin.com/in/adamkdean">LinkedIn Profile</a></p>
        <hr />

        <h4>Direct Email</h4>
        <p>My email address is actually the <em>name of this domain</em> at googlemail.com, or gmail.com if you prefer it.</p>        
    </div>
    
</div>