@{
    ViewBag.Title = "Account";
}

<div class="row">
    <div class="six columns box-padding">
        <div class="panel">
            <div class="row">
                <div class="twelve columns">
                    <h4>Blog Overview</h4>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <h5>Recent Posts</h5>
                    <p>No posts to display.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="six columns box-padding">
        <div class="panel">
            <div class="row">
                <div class="twelve columns">
                    <h4>Code Overview</h4>
                </div>                
            </div>
            <div class="row">
                <div class="twelve columns">
                    <h5>Recent Snippets</h5>
                    <p>No snippets to display.</p>
                </div>
            </div>
        </div>
    </div>   
</div>
