@{
    ViewBag.Title = "Account";
}

<div class="row">
    <div class="eight columns">
        <h4>Recent Login Attempts</h4>
        @Html.Action("FailedAttempts")
    </div>
    <div class="three columns offset-by-one">
        @Html.ActionLink("Update Profile", "ChangeName", null, htmlAttributes: new { @class = "button radius secondary account-button" })
        @Html.ActionLink("Update Password", "ChangePassword", null, htmlAttributes: new { @class = "button radius secondary account-button" })
        @Html.ActionLink("Logout", "Logout", null, htmlAttributes: new { @class = "button radius secondary account-button" })
    </div>   
</div>
