@{
    ViewBag.Title = "Account";
}

<div class="row">
    <div class="twelve columns box-padding">
        <div class="box">
            <h2>Account Test</h2>
            <p>You're in?</p>
        </div>
    </div>
</div>
