<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Adam K Dean - @ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico">

    <script src="~/Content/javascripts/foundation-stub.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/javascripts/jquery.foundation.tooltips.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/javascripts/foundation-app.js" type="text/javascript" charset="utf-8"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/javascripts/tag-it.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/foundation.css" media="all">    
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/app.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/prettify.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/jquery.tagit.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/tagit.ui-zendesk.css" media="all">
</head>
<body>

    <div class="header">
        <div class="row">
            <div class="four columns">
                <h1>Adam K Dean / Imdsm<br><small>C#, ASP.NET, MVC, SQL, HTML, CSS, JS</small></h1>            
            </div>
            <div class="eight columns">
                @Html.Partial("_NavigationPartial")
            </div>
        </div>
    </div>

    @if (EasyAuth.Authentication.IsAuthenticated())
    {
        @Html.Partial("_AdminPartial")
    }

    <!-- bet you haven't seen one of these since 2004! -->
    <div class="spacer"></div>

    @RenderBody()

    <!--<div class="pi">
        <span onmouseover="this.innerHTML='Rendered in 0.000 ms'" 
              onmouseout="this.innerHTML='&pi;'">&pi;</span>
    </div>-->

    <script src="/Content/javascripts/prettify/prettify.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Content/javascripts/auto-prettify.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            styleCode();
        });
    </script>
</body>
</html>