<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
    <li>@Html.ActionLink("About", "Index", "About")</li>        
    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
</ul>