/************************************
 * DEBUG
 ***********************************/
.red { background: red; }
.blue { background: blue; }


/************************************
 * SHARED
 ***********************************/
body { 
    background-image: url(/Content/images/bg.png);
    background-repeat: repeat-x;
    background-color: #d1c4ab;
    font: 18px/24px Arial, sans-serif;
}

h1 { font: 200%/120% 'SourceSansProBold', sans-serif; }
h2 { font: 180%/120% 'SourceSansProBold', sans-serif; }
h3 { font: 160%/120% 'SourceSansProBold', sans-serif; }
h4 { font: 140%/120% 'SourceSansProBold', sans-serif; }
h5 { font: 120%/120% 'SourceSansProBold', sans-serif; }

h1.small { font: 180%/120% 'SourceSansProSemiboldItalic', sans-serif; color: #444; }
h2.small { font: 160%/120% 'SourceSansProSemiboldItalic', sans-serif; color: #444; }
h3.small { font: 140%/120% 'SourceSansProSemiboldItalic', sans-serif; color: #444; }
h4.small { font: 120%/120% 'SourceSansProSemiboldItalic', sans-serif; color: #444; }
h5.small { font: 100%/120% 'SourceSansProSemiboldItalic', sans-serif; color: #444; }

.nopad { padding: 0; margin: 0; }
.nolist { list-style: none; }

.topbar { 
    height: 11px; width: 100%;    
    background: #202020; 
    border-bottom: 1px solid #e1d5be;
}

.header { margin-top: 40px; }
.header .logo a { border: none; }
.header .logo img { max-width: 303px; }
.header .nav ul { list-style: none; float: right; margin-top: 10px; }
.header .nav ul li { display: block; float: left; margin: 0 5px; }
.header .nav ul li:hover { background: #c0b092; border-radius: 10px; }
.header .nav ul li.active { background: #3d2621; border-radius: 10px; }
.header .nav ul li.active a { color: #e1d5be; text-shadow: none; text-shadow: 1px 1px 0 black; }
.header .nav ul li a {    
    display: block; padding: 5px 20px; margin-top: 4px;
    font: 18px/45px 'SourceSansProSemiBold', sans-serif;
    color: #3d2621; text-shadow: 1px 1px 0 #e1d5be; 
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
    .header .nav ul li a { padding: 2px 10px; }
}

@media only screen and (max-width: 767px) {
    .header .logo { width: 100%; text-align: center; }
    .header .nav { width: 100%; }
    .header .nav ul { float: none; width: 100%; margin: 5px auto; text-align: center; } 
    .header .nav ul li { float: none; display: inline-block; *display:inline; /*IE7*/ *zoom:1; /*IE7*/ }
    .header .nav ul li a { padding: 2px 10px; }
}

@media only screen and (max-width: 460px) {
    .header .nav ul li { margin: 0 1px; }
    .header .nav ul li a { font: 15px/30px 'SourceSansProSemiBold', sans-serif; margin-top: 4px; }
}

.box-padding { padding: 5px; }
.box { 
    padding: 10px 10px 7px 10px; box-sizing: border-box;    
    background: white; border: 1px solid #c0b092;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .05);
}

.footer .loggedin { text-align: right; font-size: 90%; color: #555; }
.footer .copyright { font-size: 90%; color: #555; }
.footer .nav ul { list-style: none; float: right; margin: 0; }
.footer .nav ul li { float: left; margin: 0 5px; }
.footer .nav ul li a { font-size: 90%; color: #555; }
.footer .nav ul li a:hover { font-size: 90%; color: black; text-decoration: underline; }

@media only screen and (max-width: 767px) {
    .footer .copyright { width: 100%; text-align: center; }
    .footer .nav { width: 100%; text-align: center; }
    .footer .nav ul { float: none; width: 100%; text-align: center; } 
    .footer .nav ul li { float: none; display: inline-block; *display:inline; /*IE7*/ *zoom:1; /*IE7*/ }    
}

/************************************
 * ADMIN
 ***********************************/

.account-btngrp { padding: 5px 0; text-align: right; }
.account-btngrp ul { float: right; margin-right: 15px; }

.account-validation-summary ul { list-style: none; }
.account-validation-summary ul li { color: #96160B; font-size: 90%; }
.field-validation-error { color: #96160B; font-size: 90%; }

.account-failedattempts { list-style: none; }
.account-failedattempts li { font-size: 90%; color: #96160B; }