/************************************
 * SHARED
 ***********************************/

html, body { height: 100%; }

a:hover { text-decoration: underline; }
a.button:hover { text-decoration: none; }
a.label:hover { text-decoration: none; color: white; background: #2286a4; }
a.label.alert:hover { background-color: #a70e12; }
a.label.success:hover { background-color: #4d871d; }
a.label.secondary:hover { background-color: #b6b6b6; color: #2e2e2e; }

.header { width: 100%; background: #e9e9e9; border-bottom: 1px solid #ddd; }
.header .row { padding: 10px 5px; }
.header h1 { font-size: 1.4em; margin: 0; padding: 0; }
.header ul { list-style: none; float: right; margin: 3px 0 0 0; padding: 0; }
.header ul li { float: left; margin: 5px 0 0 5px; }
.header ul li a { color: #444; display: block; background: #ddd; padding: 5px 20px; outline: none; }
.header ul li a:hover { color: black; background: #ccc; text-decoration: none; }
.header ul li.active a { color: #eee; background: #2ba6cb; }
.header ul li.active a:hover { color: #fff; background: #1e728c; }

@media only screen and (max-width: 767px) {
  .header .row div { width: 100%; text-align: center; }
  .header .row div ul { float: none; display: inline-block; margin: 5px 0 0 0; padding: 0; zoom:1; *display: inline; }  
}

/* general adminbar says: it's a traaaap */
.adminbar { width: 100%; background: #f2f2f2; border-bottom: 1px solid #e9e9e9; }
.adminbar .row { padding: 10px 5px; line-height: 22px; }
.adminbar .inline-list { margin: 0 0 0 -22px; }
/* Why 22px? foundation.css:762 -> ul.inline-list > li, ul.link-list > li { list-style: none; float: left; margin-left: 22px; display: block; } */

.spacer { width: 100%; height: 20px; }

@media only screen and (max-height: 200px) { .pi { display: none; } }
.pi { position: absolute; bottom: 10px; right: 15px; }
.pi span { font-weight: bold; font-size: 90%; color: #aaa; border-bottom: dotted 1px #ccc; cursor: help; }
.pi span:hover { font-family: "Courier New", monospace; font-weight: normal; border: none; }

.bloglist h5 { margin: 5px 0; }
.bloglist ul { list-style: none; }
.bloglist li { line-height: 1.2em; padding: 0.4em 0; }

.codelist h5 { margin: 5px 0; }
.codelist ul { list-style: none; }
.codelist li { line-height: 1.2em; padding: 0.4em 0; }

.tagcloud h5 { margin: 10px 0; }
.tagcloud .label.big { font-size: 110%; }

.field-validation-error { color: #96160B; font-size: 90%; }

/************************************
 * ADMIN
 ***********************************/

.account-validation-summary ul { list-style: none; }
.account-validation-summary ul li { color: #96160B; font-size: 90%; }


/************************************
 * BLOG
 ***********************************/

.blog-manage-top h4 { line-height: 32px; padding: 2px 0; margin: 0; }
.blog-manage-top .postfix { line-height: 12px; }

.blog-manage-table { border-collapse: collapse; border-spacing: 0; }
.blog-manage-td-check { width: 5%; }
.blog-manage-td-post { width: 65%; }
.blog-manage-td-comments { width: 10%; }
.blog-manage-td-views { width: 10%; }
.blog-manage-td-date { width: 10%; }
td.blog-manage-td-check { vertical-align: middle; }
td.blog-manage-td-post { line-height: 150%; }

/*---- NEW/EDIT ----------------------- */
.blog-editor-buttons { text-align: right; }
.blog-editor-buttons .button { height: 32px; line-height: 16px; margin: 0; outline: none; }
.blog-editor-textarea textarea { min-height: 300px; resize: vertical; outline: none; }

.blog-editor-tags { margin-bottom: 15px; }
.blog-editor-tags * { padding: 0; margin: 0; line-height: normal; }
.blog-editor-tags label { line-height: 22px; }
.blog-editor-tags .tagit-input { height: 20px; border: none; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.blog-editor-validation-summary ul { list-style: none; }
.blog-editor-validation-summary ul li { color: #96160B; font-size: 90%; }

@media only screen and (max-width: 767px) {
    .blog-editor-label { text-align: center; width: 100%; line-height: 60px; }
    .blog-editor-buttons { margin-bottom: 20px; }
    .blog-editor-buttons .button { height: 32px; line-height: 16px; margin: 5px 0; }
}