@{
    ViewBag.Title = "Blog";
}

<div class="row">
    <div class="nine columns">
        @Html.Action("RecentBlogPosts")
    </div>
    <div class="three columns">

        sidebar

    </div>
</div>