@{
    ViewBag.Title = "Blog";
}

<div class="row">
    <div class="nine columns">        
        @Html.Action("RecentPosts")
    </div>
    <div class="three columns">
        @Html.Action("RecentPostsList")
        @Html.Action("Sidebar")
    </div>
</div>