@using PersonalWebsite.Extensions
@model PersonalWebsite.Models.Blog.ReadViewModel

@{
    ViewBag.Title = Model.BlogPost.BlogTitle;
}

<div class="row">
    <div class="nine columns">
        @Html.Action("SinglePost", new { 
            model = new PersonalWebsite.Models.Blog.SinglePostViewModel() { 
                BlogPost = Model.BlogPost, ShowComments = true
            } 
        })
    </div>
    <div class="three columns">
        @Html.Action("Sidebar")
    </div>
</div>