@model PersonalWebsite.Models.Blog.RecentPostsViewModel

@if(Model.BlogPosts.Count == 0)
{
    <p>No blog posts.</p>
}
else
{
    int count = 0;
    foreach(var post in Model.BlogPosts)
    {
        @Html.Action("SinglePost", new { 
            model = new PersonalWebsite.Models.Blog.SinglePostViewModel() { 
                BlogPost = post 
            } 
        })

        if (++count < Model.BlogPosts.Count())
        {
            <hr>
        }
    }
}