@model PersonalWebsite.Models.Blog.SearchViewModel

<div class="blogsearch">
    @using (Html.BeginForm("Search", "Blog"))
    {        
        @Html.TextBoxFor(m => m.SearchTerm, new { @placeholder = "Search Blog" })
    }
</div>