@using PersonalWebsite.Extensions
@model PersonalWebsite.Models.Blog.TaggedViewModel

@{
    ViewBag.Title = Model.TagName;
}

<div class="row">
    <div class="nine columns">
    @if(Model.BlogPosts.Count == 0)
    {
        <p>No blog posts.</p>
    }
    else
    {
        int count = 0;
        foreach(var post in Model.BlogPosts)
        {        
            @Html.Action("SinglePost", new { 
                model = new PersonalWebsite.Models.Blog.SinglePostViewModel() { 
                    BlogPost = post 
                } 
            })
    
            if (++count < Model.BlogPosts.Count())
            {
                <hr>
            }
        }
    }        
    </div>
    <div class="three columns">
        @Html.Action("Sidebar")
    </div>
</div>