<div class="coderbits_footer">
    <p>
        <strong>Intelligent portfolios for developers and designers</strong><br />
        View my complete code profile at <a href="https://coderbits.com/Imdsm">https://coderbits.com/Imdsm</a><br />
        View this widget on GitHub at <a href="https://github.com/Imdsm/Coderbits.PieCharts">https://github.com/Imdsm/Coderbits.PieCharts</a>
    </p>
    <img src="~/Content/images/powered_by_coderbits.png" />                    
    <br style="clear:both;" />
</div>   