@using PersonalWebsite.Classes

@{
    ViewBag.Title = "Profile";
}

<div class="row profile">
    <div class="two columns">
        
        <div class="portrait">
            <img src="/Content/images/portrait.jpg"> 
        </div>

        @Html.Action("Skills")
        @Html.Action("Traits")
    </div>
    <div class="ten columns">
        <div class="row">
            <div class="twelve columns">
                @Html.Action("AboutMe")
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                @Html.Action("PieCharts")
            </div>
        </div>
    </div>
</div>